.heroBox {
  box-shadow: 0 0 500px #ffffff44 inset, 0 0 100px #ffffff44;
  border: 1px solid #ffffff44;
}

.shadowed {
  box-shadow: 0 0 50px #ffffff22 inset, 0 0 10px #ffffff22;
  border: 1px solid #ffffff44;
}
